header{
	background-image: linear-gradient(#04519b, #044687 60%, #033769);
	color: white;
	min-height: 100px;
	padding-top: 25px;
}

header form{
	float: right;
	padding-top: 10px;
}

header .logo{
	float: left;
}

.panel-heading{
		background-image: linear-gradient(#04519b, #044687 60%, #033769);
}

.bubble{
	position: relative;
	width: 580px;
	max-width: 100%;
	min-height: 65px;
	padding: 15px;
	background: white;
	border-radius: 10px;
	border: 1px solid #ccc; 
}

.bubble:after{
	content: "";
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #fff;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -15px;
	left: -15px;
	top: 50%;
}

.bubble:before{
	content: "";
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #ccc;
	display: block;
	width: 0;
	z-index: 0;
	margin-top: -15px;
	left: -16px;
	top: 50%;
}

.post-actions{
	margin: 5px;
}

.comment-form .form-group{
	width: 84%;
}

.comment-form input[type="text"]{
	width: 100%;
}

.comments{
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 3px;
	margin: 5px 0;
	overflow: auto;
}

.panel-title{
	color: white;
}

.comment-avatar img{
	width: 40px;
	margin-right: 5px;
}

.friends ul{
	
}

.friends li{
	list-style: none;
	display: inline;
	float: left;
	padding: 0 5px;
}

.friends img{
	width: 55px;
}

.groups img{
	width: 80px;
	float: left;
	margin-right: 15px;
}

.group-item{
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
	overflow: auto;
}

.group-item:last-child{
	border: none;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.groups center{
	padding-bottom: 15px;
}

.members .member-row{
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.members img{
	margin-bottom: 5px;
}

.groups.items .group-item{
	padding-bottom: 20px;
}

.profile ul{
	margin-top: 30px;
}

.profile li{
	list-style: none;
	padding-bottom: 6px;
}

.photos{
	margin: 0;
	padding: 0;
}

.photos li{
	list-style: none;
	float: left;
	margin: 5px;
	width: 23%;
}

.photos img{
	width: 100%;
}

footer{
	background: #f4f4f4;
	height: 90px;
	color: #04519b;
	font-weight: bold;
	text-align: center;
	padding-top: 40px;
	margin-top: 30px;
	border-top: 7px solid #04519b;
}

@media(min-width: 991px){
	.members p{
		padding-top: 50px;
	}
}

@media screen and (min-width: 300px) and (max-width: 500px){
	.logo{
		width: 100%;
	}

	.form-inline{
		display: block;
		width: 100%;
	}

	.likes, .bubble, .post-actions{
		margin-bottom: 20px;
	}

	.comment-form .form-group{
		width: 100%;
		margin-top: 15px;
	}

	.panel-body button{
		display: inline;
	}

	.post-avatar{
		width: 65%;
		margin: 0 auto;
	}

	.post-avatar div{
		padding: 10px 0 10px 0;
	}

	.member-row .img-thumbnail{
		width: 65%;
		margin-left: 5em;
	}

	.member-row div{
		margin: 10px 0 10px 0;
	}

	.members p a{
		padding: 10px;
		margin-bottom: 15px;
	}

	.profile ul{
		display: block;
	}

	.post-form form button{
		width: 72px;
	}
}

@media screen and (min-width: 501px) and (max-width: 700px){
	.logo{
		max-width: 100%;
	}

	.form-inline{
		display: block;
		width: 100%;
	}

	.likes, .bubble, .post-actions{
		margin-bottom: 20px;
	}

	.comment-form .form-group{
		width: 100%;
		margin-top: 15px;
	}

	.panel-body button{
		display: inline;
	}

	.post-avatar{
		max-width: 50%;
		margin: 0 auto;
	}

	.post-avatar div{
		padding: 10px 0 10px 0;
	}

	.member-row .img-thumbnail{
		width: 50%;
		margin-left: 9em;
	}

	.member-row div{
		margin: 10px 0 10px 0;
	}

	.members p a{
		padding: 10px;
		margin-bottom: 15px;
	}

	.profile img{
		width: 50%;
	}

	.profile ul{
		display: initial;
	}
}

@media screen and (min-width: 701px) and (max-width: 900px){
	.logo{
		max-width: 100%;
	}

	.form-inline{
		width: 100%;
	}

	label.input[type="checkbox"]{
		margin: 13px 0 13px 0;
	}

	.comment-form .form-group{
		width: 100%;
		margin-top: 15px;
	}

	.panel-body button{
		margin-top: 10px;
	}

	.member-row .img-thumbnail{
		width: 50%;
		margin-left: 12em;
	}

	.member-row div{
		margin: 10px 0 10px 0;
	}

	.members p a{
		padding: 10px;
		margin-bottom: 15px;
	}

	.profile ul{
		display: initial;
	}

}

@media screen and (min-width: 901px) and (max-width: 991px){
	.logo{
		max-width: 100%;
	}

	.form-inline{
		width: 100%;
	}

	label.input[type="checkbox"]{
		margin: 13px 0 13px 0;
	}

	.comment-form .form-group{
		width: 100%;
		margin-top: 15px;
	}

	.panel-body button{
		margin-top: 10px;
	}

	.member-row .img-thumbnail{
		width: 40%;
		margin-left: 14em;
	}

	.member-row div{
		margin: 10px 0 10px 0;
	}

	.members p a{
		padding: 10px;
		margin-bottom: 15px;
	}

	.profile img{
		width: 45%;
	}

	.profile ul{
		display: initial;
	}

}

@media screen and (min-width: 992px) and (max-width: 1199px){
	.comment-form .form-group{
		width: 100%;
		margin-top: 15px;
	}

	.panel-body button{
		margin-top: 10px;
	}

	
}